@media only screen and (max-width:768px) {
    .header-section {
        flex-direction: column !important;
        display: flex;
        width: 100%;


    }

    .media_padding {
        padding: 0 20px;
    }

    .hero_banner_area {
        flex-direction: column-reverse;
    }

    .gamer_content {
        flex-direction: column;
    }

    .game_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;

        gap: 30px;
    }

    .button_list {
        grid-template-columns: repeat(3, 1fr);
    }

    .game_install {
        flex-direction: column-reverse;
    }
}