@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* ===================
    Default style
==================== */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 95px;
}

h2 {
    font-size: 42px
}

h3 {
    font-size: 35px
}

img {
    width: 50%;
}

.com_title {
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_padding {
    padding: 100px 50px 50px;
}

/*=========================
====== header-section ======
===========================*/
.header-section {
    height: auto;
    padding: 20px 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 60px;
}

.logo h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
}

.logo h3 span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 20px;
}

ul.navbar a {
    color: #494949;
}

.button-menu {
    display: flex;
    gap: 15px;
    align-items: center;
    background: #cacaca;
    padding: 10px 25px;
    border-radius: 10px;
}

.button-menu li a {
    color: #0B0223;
}

.icon-red {
    color: #FF42A5;
}

/*=========================
====== hero_section ======
===========================*/
.hero_section {
    padding: 80px 20px;
    width: 100%;
    height: 100%;
}

.hero_banner_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero_content_area h3 {
    color: #0B0223;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero_text_list li {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: lowercase;
}

.button_area {
    display: flex;
    margin-top: 40px;
    gap: 50px;
    align-items: center;
}

.primary-btn {
    display: inline-flex;
    padding: 15px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.primary-btn a {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.second-btn {
    display: inline-flex;
    padding: 15px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
}

.second-btn a {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_img img {
    width: 60%;
}

.hero_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_img img {
    width: 60%;
}

/*=========================
====== gamer-section ======
===========================*/
.gamer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.gamer_img img {
    width: 85%;
}

.gamer_text_area {
    text-align: right;
}

.gamer_text_area p {
    padding: 20px 0;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.gamer_img {
    flex: 1;
}

.gamer_text_area h4 span {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.gamer_text_area h4 {
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 30px;
}



/*=========================
====== online_game======
===========================*/

.section_title {
    text-align: center;
    margin-bottom: 50px;
}

.section_title h2 {
    padding-bottom: 20px;
}

.game_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.single_game {
    width: 100%;
}

.game_image img {
    width: 100%;
    height: 100%;

}

.game_image {
    position: relative;
    height: 350px;

}

.single_game p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    padding: 10px 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.overlay::after {
    background: #000;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .6;
    border-radius: 15px;
}

.game_image:hover .overlay {
    height: 100%;
    cursor: pointer;
    border: 2px solid #FF42A5;
    border-radius: 16px;

}

.overlay i {
    width: 48px;
    height: 48px;
    font-size: 40px;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    color: #3C354F;
    display: flex;
    justify-content: center;
}

.overlay h4 {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*=========================
====== online_install======
===========================*/
.game_install {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ins_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ins_content h3 {
    margin-bottom: 18px;
}

.ins_content p {
    color: #534C64;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.ins_img {
    position: relative;
}

.big_img {
    position: relative;
}

.big_img img {
    width: 100%;
    height: 100%;
}

.small_img {
    position: absolute;
    bottom: -49px;
    left: -20%;

}

.small_img img {
    width: 70%;
}

/*=========================
====== Footer btn section ======
===========================*/
.button_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.single_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 40px;
    gap: 10px;
    transition: .4s;
}

.single_btn:hover {
    border: 1px solid #FF42A5;
    cursor: pointer;
}

.single_btn:hover p {
    color: #FF42A5;
}

.footer_button.section_padding {
    text-align: center;
    margin: 0 auto;
}

.single_btn img {
    width: 50px;
}



/* ===================
    footer section
==================== */
.footer_section {
    background: #0B0223;
}

.footer_content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_section .logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footer_content .logo h3 {
    color: #fff;
}

.footer_menu {
    padding: 20px 0;
}

.footer_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_menu ul li a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer_icon_menu {
    padding: 20px 0;
}

.footer_icon_menu ul {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_icon_menu i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.footer_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_nav ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyRight p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 0;
    margin-top: 30px;
}



/*=========================
====== Media Query ======
===========================*/
@media only screen and (max-width: 1024px) {
    .button_area {
        gap: 10px
    }

    .primary-btn a,
    .second-btn a {
        font-size: 18px;
        font-weight: normal;
    }

    .gamer_content {
        flex-direction: column;
    }
}


/* ============== */
@media only screen and (max-width: 992px) {
    .hero_banner_area {
        flex-direction: column-reverse;
        padding: 20px;
    }
}

/* ============== */
@media only screen and (max-width: 768px) {
    .hero_section {
        padding: 40px 20px;

    }

    .section_padding {
        padding: 80px 30px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 35px
    }

    h3 {
        font-size: 25px
    }

    .hero_banner_area {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .header-section {
        width: 100%;
    }

    .header_top {
        flex-direction: column;
    }

    .header_right {
        margin-top: 30px;
    }

    .hero_img img {
        width: 60%;
    }

    .gamer_img img {
        width: 100%;
    }

    .game_install {
        flex-direction: column;
    }

    .ins_img {
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .big_img {
        text-align: right;

    }

    .big_img img {
        width: 60%;
        height: 60%;
    }

    .small_img {
        position: absolute;
        bottom: -60px;
        left: 12%;
    }

    .button_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .single_btn img {
        width: 40px;
    }


}

/* ============== */
@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
    }

    .hero_img img {
        width: 80%;
    }

    .game_image {
        height: 400px;
    }

    .big_img {
        position: relative;
        text-align: right;
        height: auto;
        width: 350px;
    }

    .big_img img {
        width: 65%;
        height: 300px;
    }

    .small_img {
        position: absolute;
        bottom: -50px;
        left: 2%;
        width: 230px;
    }

    .button_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }

    .single_btn img {
        width: 30px;
    }

    .single_btn {
        padding: 10px 2px;
        gap: 2px;
    }

    .footer_menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_icon_menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-self: unset;
        justify-content: center;
    }
}